<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>material profile test</title>
</head>

<body>
	<form action="/updatePicture" method="post" enctype="multipart/form-data">
		<input type="file" name="profilePicture" accept="image/x-png,image/gif,image/jpeg" />
		<input type="submit" />
	</form>
</body>
</html>
